services:
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: app
    ports:
      - "3306:3306"

  pgsql:
    image: postgres
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: app
    ports:
      - "5432:5432"

  app:
    build:
      context: ./
      target: app
    volumes:
      - ./:/app
    working_dir: /app
    user: "${UID:-1000}:${GID:-1000}"
    tty: true
    environment:
      - PHP_IDE_CONFIG=serverName=docker

  pages:
    image: peaceiris/mdbook:latest
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    working_dir: /app
    command:
      - serve
      - -n
      - 0.0.0.0
